@using CaptchaMvc.HtmlHelpers
@model OdeoFoodMVC4.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">

    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <table class="registertable">
        <tr>
            <td> @Html.LabelFor(m => m.UserName)</td>
            <td> @Html.TextBoxFor(m => m.UserName)</td>
            <td>@Html.LabelFor(m => m.SSN)</td>
            <td>@Html.TextBoxFor(m => m.SSN)</td>

        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>@Html.PasswordFor(m => m.Password)</td>
            <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
            <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>

        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.FirstName)</td>
            <td>@Html.TextBoxFor(m => m.FirstName)</td>
            <td>@Html.LabelFor(m => m.LastName)</td>
            <td>@Html.TextBoxFor(m => m.LastName)</td>

        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.EmailAddress)</td>
            <td>@Html.TextBoxFor(m => m.EmailAddress)</td>
            <td>@Html.LabelFor(m => m.Address)</td>
            <td>@Html.TextBoxFor(m => m.Address)</td>

        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Phone)</td>
            <td>@Html.TextBoxFor(m => m.Phone)</td>
            <td>@Html.LabelFor(m => m.Mobile)</td>
            <td>@Html.TextBoxFor(m => m.Mobile)</td>

        </tr>
        <tr><td>  @Html.Captcha("Refresh", "Input", 5, "Is required field.", true)</td></tr>
       
    </table>
    <br />
    <input type="submit" value="Register" style="margin-left:83.5%;" />
  
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
