@model OdeoFoodMVC4.Models.homeModel
@{
    ViewBag.Title = "Home Page";
}
@section scripts{
<script type="text/jscript">
    $('#SubmitName').click(function () {
      
        var url = "/Home/ActionOnClick";
        var name = $('#SubmitNameTB').val();
        $.get(url, { input: name }, function (data) {
            alert(data);
        });
    });

    $('#Save').click(function () {
        var form = $('#subscriptionForm');
        var url = form.attr('action');
        var formData = form.serialize();
        $.post(url, formData, function (data) {
            alert(data);
              });


    });
</script>

}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>My address is  &nbsp;&nbsp; @Model.getAddress and Location is  &nbsp; &nbsp; &nbsp; @Model.getLocation</h3>





enter the name @Html.TextBox("SubmitNameTB")
 <input type="submit" id="SubmitName" />

 <div style="width:700px;height:400px;border-radius:10px;background-color: rgb(207, 207, 207);">
 
 <form  id="subscriptionForm" action="/Home/LogIn" method="post"> 
 <div style="margin-left:50px;padding-top:30px">
 <label >UserName</label><br />
 @Html.TextBox("Username")
 <br />
 <label>Password</label><br />
 @Html.Password("Password")
 <br />

 <input type="button" value="Save" id="Save" />
<span id="msg" style="color:red;"/>
 </div>
 </form>
 
 
 </div>
